*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #222E3E;
    --secondary-color: #1FB18A;
    --tertiary-color: #2C425A;
    --text-white: #FFFFFF;
    --text-black: #000000;
}

/* DEBUG -------------------------------------------------- */

.ms_debug div[class*="container"] {
    border: 2px dotted orange;
}

.ms_debug .row {
    border: 1px dotted black;
}
.ms_debug div[class*="col-"] {
    border: 1px dashed red;
}

.ms_debug #portfolio .ms_content{
    /* height: 100px;
    background-color: green;
    border: 2px dashed orange; */
}

/* REGOLE DI CSS ------------------------------------------ */
/* REGOLE GENERALI ---------------------------------------- */

.ms_flank-line-white, 
.ms_flank-line-black{
    position: relative;
}

.ms_flank-line-white::after{
    content: '';
    position: absolute;
    right: calc(100% + 1rem);
    top: 50%;
    transform: translateY(-50%);
    height: 3px;
    width: 8rem;
    border-radius: 0.2rem;
    background-color: var(--text-white);
}

.ms_flank-line-white::before{
    content: '';
    position: absolute;
    left: calc(100% + 1rem);
    top: 50%;
    transform: translateY(-50%);
    height: 3px;
    width: 8rem;
    border-radius: 0.2rem;
    background-color: var(--text-white);
}

.ms_flank-line-black::after{
    content: '';
    position: absolute;
    right: calc(100% + 1rem);
    top: 50%;
    transform: translateY(-50%);
    height: 3px;
    width: 8rem;
    border-radius: 0.2rem;
    background-color: var(--text-black);
}

.ms_flank-line-black::before{
    content: '';
    position: absolute;
    left: calc(100% + 1rem);
    top: 50%;
    transform: translateY(-50%);
    height: 3px;
    width: 8rem;
    border-radius: 0.2rem;
    background-color: var(--text-black);
}



/* HEADER ------------------------------------------------- */

header{
    background-color: var(--primary-color);
    height: 80px;
}


header .navbar .container-fluid a{
    color: var(--text-white);
}

header .navbar-toggler{
    border-color: var(--text-white);
}

header .navbar-toggler-icon{
    filter: invert(1);
}

.navbar-collapse{
    flex-grow: 0;
}

/* MAIN --------------------------------------------------- */

/* START BOOTSTRAP */

main{
    padding-top: 80px;
}

#start_bootstrap, 
#about{
    background-color: var(--secondary-color);
    color: var(--text-white);
}

#start_bootstrap img{
    width: 12.5rem;
}

.mask{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 125, 0, 0.5);
}

/* CONTACT ME --------------------------------------------- */

#contact-me .ms_bg-btn-green{
    background-color: var(--secondary-color);
    color: var(--text-white);
}

#contact-me input::placeholder, 
#contact-me textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--text-black);
    opacity: 1; /* Firefox */
  }
  
#contact-me input:-ms-input-placeholder, 
#contact-me textarea::placeholder { /* Internet Explorer 10-11 */
    color: var(--text-black);
  }
  
#contact-me input::-ms-input-placeholder, 
#contact-me textarea::placeholder { /* Microsoft Edge */
    color: var(--text-black);
  }

/* FOOTER ------------------------------------------------- */

footer{
    background-color: var(--primary-color);
    color: var(--text-white);
}

footer .ms_icon{
    width: 2rem;
    line-height: 2rem;
    display: inline-block;
    border:solid 1px #FFFFFF;
    border-radius: 50%;
}

#credits{
    background-color: var(--tertiary-color);
}



/* ANIMAIZONI --------------------------------------------- */

.mask::after{
    content: '\2b';
    font-size: 4rem;
    color: var(--text-white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#portfolio .ms_content:hover .mask{
    display: block;
}
